<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        
        <div class="header d-flex justify-content-center">
            <nav class="nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/projects">Projects</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div>
        <h3 class="offset-5">About Me</h3>
        <div class="main d-flex justify-content-center">
            
            <div class="row">
                <div class="col-5 pic">
                    <div class="card">
                        <img class="card-img-top" src="https://i.ytimg.com/vi/kfeUdBi67G4/maxresdefault.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Link</p>
                            <p class="card-text">Best Character in Smash</p>
                        </div>
                    </div>
                </div>
                <div class="col-5 offset-1 about">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>