<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header d-flex justify-content-center">
            <nav class="nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/projects">Projects</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div>

        <h3 class="offset-4">Here are some projects of mine!</h3>
        <div data-spy="scroll" id = "projects">
            <div class="card flex-row flex-wrap">
                <div class="card-header border-0">
                    <img src="https://miro.medium.com/max/1400/1*-74NJDYwyREbDPeLsmnY1Q.jpeg/" alt="#" width="200" height="200">
                </div>
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                </div>
            </div>
            <div class="card flex-row flex-wrap">
                <div class="card-header border-0">
                    <img src="https://miro.medium.com/max/1400/1*-74NJDYwyREbDPeLsmnY1Q.jpeg/" alt="#" width="200" height="200">
                </div>
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                </div>
            </div>
            <div class="card flex-row flex-wrap">
                <div class="card-header border-0">
                    <img src="https://miro.medium.com/max/1400/1*-74NJDYwyREbDPeLsmnY1Q.jpeg/" alt="#" width="200" height="200">
                </div>
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>