@{
    ViewData["Title"] = "Home Page";
}

<h3>Random Passcode (Passcode #@ViewBag.Count)</h1>

<h1>@ViewBag.Passcode</h1>
<a href="/" class="offset-1"><button>Generate</button></a>
<a href="/reset"><button>Reset</button></a>
