@{
    ViewData["Title"] = "Home Page";
}
@model QuotingDojo.Models.quotes
<h1>Welcome to Quoting Dojo</h1>
<form asp-action="AddQuote" asp-controller="Home" method="post">
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label">Your Name</label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Quote" class="col-sm-2 col-form-label">Quote</label>
        <div class="col-sm-10">
            <textarea class="form-control" asp-for="Quote"></textarea>
        </div>
    </div>

    <button class = "btn btn-success offset-1" type="submit">Add my quote!</button>
    <a href="/quotes"><button class="btn btn-primary offset-4">Skip to Quotes!</button></a>
</form>