<h1>Here are all the quotes!</h1>

@foreach(var quote in ViewBag.Quotes)
{
    <!-- Remember, these are Dictionaries - so you must use user["KeyName"] to access the values within -->
    <p>@quote["Quote"]</p>
    <p>@quote["Name"] - @quote["created_at"]</p>
    
}