@{
    ViewData["Title"] = "Chefs";
}
@model List<Chef>

<a class = "offset-10 mt-4" href="/new">Add a Chef</a>
<div class="text-center">
    <h1 class="display-4">Chefs | <a href="/dishes">Dishes</a></h1>   
</div>
<div class="row">
    <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th># of Dishes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var chef in Model)
                    {
                        var age = (DateTime.Today.Year - chef.BirthDate.Year);
                        <tr>
                            <td>@chef.FirstName @chef.LastName</td>
                            <td>@age</td>
                            <td>@chef.CookedDishes.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        
    </div>
</div>