<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form class="mt-5" action="/survey" method="POST">
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Your Name:</label>
                <div class="col-6">
                    <input type="text" class="form-control" id="name" name="Name">
                </div>
            </div>

            <div class="form-row">
                <label for="dojo" class="col-2 col-form-label">Dojo location:</label>
                <div class="col-6">
                    <select class="form-control" id="dojo_location" name="Location">
                        <option>Seattle</option>
                        <option>San Jose</option>
                        <option>New York</option>

                    </select>
                </div>
            </div>
            <div class="form-row mt-3">
                <label for="dojo" class="col-2 col-form-label">Favorite Language</label>
                <div class="col-6">
                    <select class="form-control" id="fav_language" name="Language">
                        <option>Python</option>
                        <option>Javascript</option>
                        <option>C#</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <label for="comments" class="col-2 col-form-label">Comment (optional):</label>
                <div class="col-6">
                    <textarea class="form-control mt-3" id="comment" rows="3" name="Comment"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-7 mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>