<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    @using ViewModelFun.Models
    @model List<User>
    @{
        foreach(User oneUser in Model)
        {
            <p>@oneUser.FirstName</p>
        }
    }
</body>
</html>